:root {
  --font-family: "Roboto",sans-serif;
  --second-family: "Roboto Condensed",sans-serif
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto-v30-cyrillic_latin-regular.woff2) format("woff2"),url(../fonts/roboto-v30-cyrillic_latin-regular.ttf) format("truetype")
}
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/roboto-v30-cyrillic_latin-500.woff2) format("woff2"),url(../fonts/roboto-v30-cyrillic_latin-500.ttf) format("truetype")
}
@font-face {
  font-display: swap;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto-condensed-v27-cyrillic_latin-regular.woff2) format("woff2"),url(../fonts/roboto-condensed-v27-cyrillic_latin-regular.ttf) format("truetype")
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
body.lock {
  overflow: hidden
}
.nheader {
  font-family: "Roboto Condensed",sans-serif;
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20
}
.nheader,
.nheader *,
.nheader ::after,
.nheader ::before {
  box-sizing: border-box
}
.nheader ol,
.nheader ul {
  margin: 0;
  padding: 0;
  list-style: none
}
.nheader__container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px
}
.nheader__top {
  padding: 9px 0;
  background-color: #333
}
@media (max-width:1000px) {
  .nheader__top {
    position: relative;
    z-index: 6;
    padding: 17px 0
  }
}
.nheader__container_top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.nheader__panel {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0 76px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
@media (max-width:1280px) {
  .nheader__panel {
    gap: 0 40px
  }
}
.nheader__logo_mobile {
  display: none
}
@media (max-width:1000px) {
  .nheader__logo_mobile {
    display: block;
    width: 134px
  }
  .nheader__logo_mobile img {
    display: block;
    width: 100%;
    height: auto
  }
}
.nheader__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: .01em;
  color: #bcebff;
  white-space: nowrap
}
@media (max-width:1280px) {
  .nheader__descr {
    font-size: 14px
  }
}
@media (max-width:1000px) {
  .nheader__descr {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 27px;
    padding: 8px 10px;
    font-weight: 300;
    font-size: 11px;
    color: #333;
    background-color: #fff
  }
}
.nheader__contacts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0 50px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
@media (max-width:1280px) {
  .nheader__contacts {
    gap: 0 20px
  }
}
@media (max-width:1000px) {
  .nheader__contacts {
    display: none
  }
}
.nheader__email,
.nheader__phone {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 10px;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  text-decoration: none;
  transition: color .2s ease-out
}
@media (hover:hover) {
  .nheader__email:hover,
  .nheader__phone:hover {
    color: #459bd5
  }
}
.nheader__email:before,
.nheader__phone:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}
@media (max-width:1280px) {
  .nheader__email,
  .nheader__phone {
    gap: 0 5px;
    font-size: 16px
  }
  .nheader__email::before,
  .nheader__phone::before {
    width: 24px;
    height: 24px
  }
}
.nheader__email {
  gap: 0 18px
}
.nheader__email:before {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.78572 6C3.25503 6 2.00001 7.26293 2.00001 8.80328L1.99995 20.6967C1.99995 22.2371 3.25498 23.5 4.78567 23.5H25.2142C26.7449 23.5 28 22.2371 28 20.6967L28 8.80328C28 7.26293 26.745 6 25.2143 6H4.78572ZM4.78572 7.86885H25.2143C25.2796 7.86885 25.3304 7.89075 25.3884 7.90535L15 15.1399L4.61161 7.90535C4.66965 7.89075 4.72043 7.86885 4.78572 7.86885ZM3.85715 9.6501L15 17.4175L26.1429 9.6501L26.1428 20.6967C26.1428 21.2223 25.7366 21.6311 25.2142 21.6311H4.78567C4.26335 21.6311 3.8571 21.2223 3.8571 20.6967L3.85715 9.6501Z' fill='%23459BD5' /%3E%3C/svg%3E")
}
.nheader__phone:before {
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8125 4C9.27075 4 8 5.29899 8 6.875V24.125C8 25.701 9.27075 27 10.8125 27H20.1875C21.7292 27 23 25.701 23 24.125V6.875C23 5.29899 21.7292 4 20.1875 4H10.8125ZM10.8125 5.91667H20.1875C20.7075 5.91667 21.125 6.34342 21.125 6.875V24.125C21.125 24.6566 20.7075 25.0833 20.1875 25.0833H10.8125C10.2925 25.0833 9.875 24.6566 9.875 24.125V6.875C9.875 6.34342 10.2925 5.91667 10.8125 5.91667ZM15.5 22.2083C14.9836 22.2083 14.5625 22.6388 14.5625 23.1667C14.5625 23.6945 14.9836 24.125 15.5 24.125C16.0164 24.125 16.4375 23.6945 16.4375 23.1667C16.4375 22.6388 16.0164 22.2083 15.5 22.2083Z' fill='%23459BD5' /%3E%3C/svg%3E")
}
.nheader__order_btn {
  padding: 10px 56px 10px 55px;
  border: 1px solid #459bd5;
  border-radius: 5px 5px 20px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  color: #bcebff;
  background-color: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: color .2s ease-in-out,background-color .2s ease-in-out
}
@media (hover:hover) {
  .nheader__order_btn:hover {
    color: #fff;
    background-color: #459bd5
  }
}
@media (max-width:1280px) {
  .nheader__order_btn {
    padding: 10px 30px 10px
  }
}
@media (max-width:1000px) {
  .nheader__order_btn {
    display: none
  }
}
.nheader__burger {
  display: none;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: transparent
}
@media (max-width:1000px) {
  .nheader__burger {
    position: relative;
    display: block;
    width: 40px;
    height: 16px;
    cursor: pointer
  }
}
.nheader__burger span {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 82.5%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  transition: width .2s ease-out,opacity .2s ease-out
}
.nheader__burger::after,
.nheader__burger::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out,-webkit-transform .2s ease-out
}
.nheader__burger::before {
  top: 0
}
.nheader__burger::after {
  bottom: 0
}
@media (hover:hover) {
  .nheader__burger:hover span {
    width: 100%
  }
}
.nheader__burger.active span {
  width: 0;
  opacity: 0
}
.nheader__burger.active::before {
  top: 50%;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%)
}
.nheader__burger.active::after {
  bottom: 50%;
  -webkit-transform: rotate(-45deg) translateY(50%);
  transform: rotate(-45deg) translateY(50%)
}
.nheader__bottom {
  background-color: #fff
}
.nheader__inner {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
@media (max-width:1000px) {
  .nheader__main {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 5;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #fff;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    pointer-events: none
  }
  .nheader__main.active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    pointer-events: all
  }
}
.nheader__wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 0 83px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
@media (max-width:1280px) {
  .nheader__wrapper {
    gap: 0 40px
  }
}
@media (max-width:1000px) {
  .nheader__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 99px 10px 0 44px;
    overflow-y: auto
  }
  .nheader__wrapper::after {
    content: "";
    position: absolute;
    top: 327px;
    right: 10px;
    width: 59px;
    height: 41px;
    border-radius: 24px 3px 3px 3px;
    background: linear-gradient(270deg,rgba(217,227,241,.7) 0,rgba(205,244,255,.7) 100%)
  }
}
.nheader__bg {
  display: none
}
@media (max-width:1000px) {
  .nheader__bg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 325px;
    background: linear-gradient(180deg,#fff 0,#cdf4ff 17.01%,#7bd3f7 35.8%,#459bd5 66.35%,#365ea7 100%)
  }
  .nheader__bg::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 110px;
    height: 88px;
    border-radius: 5px 0 0 0;
    background: linear-gradient(180deg,rgba(133,215,247,.15) 0,rgba(109,159,203,.15) 100%)
  }
  .nheader__bg::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 170px;
    border-radius: 0 5px 0 0;
    background: linear-gradient(180deg,rgba(255,255,255,.15) 0,rgba(131,186,234,.15) 100%)
  }
}
.nheader__logo {
  display: block;
  width: 196px
}
.nheader__logo img {
  display: block;
  width: 100%;
  height: auto
}
@media (max-width:1280px) {
  .nheader__logo {
    width: 130px
  }
}
@media (max-width:1000px) {
  .nheader__logo {
    display: none
  }
}
.nheader__title {
  display: none;
  margin: 0;
  padding: 0
}
@media (max-width:1000px) {
  .nheader__title {
    -webkit-flex: 0 0 55px;
    -ms-flex: 0 0 55px;
    flex: 0 0 55px;
    position: relative;
    display: inline-block;
    margin-bottom: 23px;
    padding: 15px 21px 6px 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    text-transform: uppercase;
    color: #1c1538
  }
  .nheader__title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 125px;
    height: 55px;
    border-radius: 24px 3px 3px 3px;
    background: linear-gradient(270deg,rgba(217,227,241,.7) 0,rgba(205,244,255,.7) 100%)
  }
}
@media (max-width:1000px) {
  .nheader__menu {
    width: 100%;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 45px 0
  }
}
.nheader__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 30px;
  padding: 0;
  margin: 0
}
.nheader__list a {
  display: inline-block;
  padding: 30px 0;
  color: inherit;
  text-decoration: none;
  outline: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #333;
  transition: color .2s ease-in-out
}
@media (hover:hover) {
  .nheader__list a:hover {
    color: #459bd5
  }
  .nheader__list a:hover::after,
  .nheader__list a:hover::before {
    -webkit-transform: translateY(-50%) scaleY(-1);
    transform: translateY(-50%) scaleY(-1)
  }
  .nheader__list a:hover::after {
    opacity: 1
  }
  .nheader__list a:hover::before {
    opacity: 0
  }
}
@media (max-width:1000px) and (hover:hover) {
  .nheader__list a:hover::after,
  .nheader__list a:hover::before {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
  }
}
@media (max-width:1280px) {
  .nheader__list {
    gap: 0 20px
  }
  .nheader__list a {
    font-size: 14px
  }
}
@media (max-width:1000px) {
  .nheader__list {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: block
  }
  .nheader__list li:not(:last-child) {
    margin-bottom: 20px
  }
  .nheader__list a {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px
  }
}
.nheader__hasdropdown > a {
  position: relative;
  padding-right: 15px
}
.nheader__hasdropdown > a::after,
.nheader__hasdropdown > a::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 8px;
  height: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity .2s ease-in-out,-webkit-transform .2s ease-in-out;
  transition: opacity .2s ease-in-out,transform .2s ease-in-out;
  transition: opacity .2s ease-in-out,transform .2s ease-in-out,-webkit-transform .2s ease-in-out
}
.nheader__hasdropdown > a::before {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64645 4.35355C3.84171 4.54882 4.15829 4.54882 4.35355 4.35355L7.53553 1.17157C7.7308 0.976311 7.7308 0.659729 7.53553 0.464467C7.34027 0.269204 7.02369 0.269204 6.82843 0.464466L4 3.29289L1.17157 0.464466C0.976311 0.269204 0.659729 0.269203 0.464467 0.464466C0.269204 0.659728 0.269204 0.97631 0.464466 1.17157L3.64645 4.35355ZM4.5 4L4.5 3.9999L3.5 3.9999L3.5 4L4.5 4Z' fill='%234F4F4F' /%3E%3C/svg%3E")
}
.nheader__hasdropdown > a::after {
  opacity: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64645 4.35355C3.84171 4.54882 4.15829 4.54882 4.35355 4.35355L7.53553 1.17157C7.7308 0.976311 7.7308 0.659729 7.53553 0.464467C7.34027 0.269204 7.02369 0.269204 6.82843 0.464466L4 3.29289L1.17157 0.464466C0.976311 0.269204 0.659729 0.269203 0.464467 0.464466C0.269204 0.659728 0.269204 0.97631 0.464466 1.17157L3.64645 4.35355ZM4.5 4L4.5 3.9999L3.5 3.9999L3.5 4L4.5 4Z' fill='%234272b8' /%3E%3C/svg%3E")
}
.nheader__hasdropdown:hover .nheader__dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: auto
}
.nheader__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 35px 140px 54px 120px;
  border-top: 1px solid #d9e3f1;
  border-radius: 5px 5px 50px 5px;
  box-shadow: 0 30px 30px 0 rgba(0,88,147,.15);
  background: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 0 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity .2s ease-in-out,visibility .2s ease-in-out
}
.nheader__dropdown ul {
  width: 23%
}
.nheader__dropdown li:not(:last-child) {
  margin-bottom: 9px
}
.nheader__dropdown li:first-child {
  margin-bottom: 20px
}
.nheader__dropdown span {
  position: relative;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333
}
.nheader__dropdown span::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -21px;
  width: 6px;
  height: 6px;
  border-radius: 1px;
  background: #58a0dc
}
.nheader__dropdown a {
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: #333;
  text-transform: none
}
@media (hover:hover) {
  .nheader__dropdown a:hover {
    color: #3a63ae
  }
}
@media (max-width:1280px) {
  .nheader__dropdown {
    padding: 35px 40px 55px
  }
  .nheader__dropdown a {
    font-size: 14px
  }
}
@media (max-width:1000px) {
  .nheader__dropdown {
    position: static;
    display: block;
    padding: 0;
    padding-left: 16px;
    border: none;
    box-shadow: none;
    background: 0 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out
  }
  .nheader__dropdown.active {
    max-height: 200px
  }
  .nheader__dropdown ul {
    width: 100%
  }
  .nheader__dropdown ul:not(:last-child) {
    margin-bottom: 30px
  }
  .nheader__dropdown ul:last-child {
    padding-bottom: 51px
  }
  .nheader__dropdown ul:first-child li span {
    padding-top: 25px
  }
  .nheader__dropdown ul:first-child li span::before {
    top: 32px;
    left: -16px
  }
  .nheader__dropdown li:not(:last-child) {
    margin-bottom: 10px
  }
  .nheader__dropdown li:first-child {
    margin-bottom: 14px
  }
  .nheader__dropdown span::before {
    top: 7px;
    left: -16px
  }
  .nheader__dropdown a {
    display: inline-block;
    font-size: 16px;
    line-height: 130%
  }
}
.nheader__social {
  display: none
}
@media (max-width:1000px) {
  .nheader__social {
    -webkit-flex: 0 0 30px;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 0 20px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 35px
  }
}
.nheader__social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: opacity .2s ease-in-out
}
@media (hover:hover) {
  .nheader__social a:hover {
    opacity: .7
  }
}
.nheader__lang {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase
}
.nheader__lang a {
  color: inherit;
  text-decoration: none;
  outline: 0;
  transition: color .2s ease-in-out
}
@media (hover:hover) {
  .nheader__lang a:hover {
    color: #5a8cc9
  }
}
.nheader__lang a.current {
  color: #5a8cc9
}
@media (max-width:1000px) {
  .nheader__lang {
    display: none
  }
}
/*# sourceMappingURL=maps/main.css.map */
