.nheader__dropdown.nheader__dropdown_small
    ul
        li: a(href="#") Кейсы на Битрикс 24
        li: a(href="#") Кейсы на 1С - Битрикс
        li: a(href="#") Кейсы на Laravel
        li: a(href="#") Кейсы на Yii2
