.nheader__dropdown.nheader__dropdown_small
    ul
        li: a(href="#") Аутстаффинг на Bitrix
        li: a(href="#") Аутстаффинг на Laravel
        li: a(href="#") Аутстаффинг на Java
        li: a(href="#") Аутстаффинг на Yii2
        li: a(href="#") Аутстаффинг DevOps
        li: a(href="#") Аутстаффинг 1С
        li: a(href="#") Аутстаффинг на Symfony
        li: a(href="#") Аутстаффинг на Битрикс24
