.nheader__dropdown
    ul
        li: span Пордержка и Разработка
        li: a(href="#") Сайты и веб приложения
        li: a(href="#") Интернет-магазин
        li: a(href="#") Корпоративные сайты
        li: a(href="#") CRM
        li: a(href="#") Личные кабинеты
        li: a(href="#") Редизайн сайта
        li: a(href="#") Готовые решения
        li: a(href="#") Чат-боты
        li: a(href="#") Бэкэнд для мобайла

    ul
        li: span Интеграции
        li: a(href="#") C CRM
        li: a(href="#") C системами доставки
        li: a(href="#") C системами оплаты

    ul
        li: span Развитие сайта
        li: a(href="#") Обновление битрикс
        li: a(href="#") Обновление РНР8+
        li: a(href="#") Аудит безопасности
        li: a(href="#") Удаление вирусов
        li: a(href="#") Доработки сайта на Битрикс
        li: a(href="#") Верстка сайта по макетам
        li: a(href="#") Доработка коробки Битрикс24
        li: a(href="#") Перенос с другой СMS на Битрикс
        li: a(href="#") Парсинг данных
        li: a(href="#") Ускорение сайта или Google Page Speed

    ul
        li: span Поддержка сайта
        li: a(href="#") Поддержка интернет-магазинов
        li: a(href="#") Поддержка сайтов на Батрикс
        li: a(href="#") Поддержка сайтов на WordPress
        li: a(href="#") Поддержка сайтов на Laravel
